// breakpoints
$desktop: 1200px;
$desktop-small: 992px;
$tablet: 768px;
$tablet-small: 576px;

// MEDIA QUERIES
@mixin tablet-small {
  @media (min-width: $tablet-small) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: $tablet) {
    @content;
  }
}
@mixin desktop-small {
  @media (min-width: $desktop-small) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}
